<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">JAY SHREE RAM</h3>
                <img src="{{ url_for('video_feed') }}" width="40%">
                <img src="{{ url_for('static', filename = static_url ) }}" alt="User Image" width="40%"><br><br>
                <h4 class="mt-5">If our system not recognize you please click on add details</h4>
                <a href="{{ url_for('upload') }}"> Add Details </a>
            </div>
        </div>
    </div>
</body>