<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h3 align="center" class="mt-5">FACE RECOGNITION APP</h3>
        <div class="row">
            <div class="col-lg-6">
                <center>
                    <img src="{{ url_for('video_feed') }}" width="100%"><br><br>
                    <button id="confirmation" value="confirm">Confirm</button>
                </center>
            </div>

            <div class="col-lg-6">
                <center>
                    <div id="cam_image"></div><br>
                    <a href="{{ url_for('upload') }}"> Generate Masurments of this image if you are not detected </a>
                </center>
            </div>
        </div>
        <h4>logs :- </h4>
        <p id="data"></p>
        <h4>user confirmation :- </h4>
        <p id="user_confirm"></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        function fetchdata() {
            $.ajax({
                type: "GET",
                url: "/content",
                dataType: "text",
                success: function (data) {
                    document.getElementById("data").innerHTML = data
                }

            });
        }
        setInterval('fetchdata()', 1000);

        $(document).on('click', "#confirmation", function () {
            $.ajax({
                type: "GET",
                url: "/person_details",
                dataType: "text",
                success: function (data) {
                    document.getElementById("user_confirm").innerHTML = data
                }
            });
        });

        function getimage() {
            $.ajax({
                type: "GET",
                url: "/image_feed",
                success: function (data) {
                    document.getElementById('cam_image').innerHTML = '<img id="image" width="100%" src="' + 'data:image/jpeg;base64,' + data + '"/>';
                }
            })
        }
        setInterval('getimage()', 1000);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">

    </script>
</body>